## Librerias

In [2]:
import pandas as pd

## DataSet

In [3]:
# Datos en formato de arreglos de arreglos
data = [
    ['Juan', 25, 'M', 4500.0],
    ['Ana', 30, 'F', None],
    ['Luis', 22, 'M', 3000.0],
    ['Juan', 25, 'M', 4500.0],  # Fila duplicada
    ['Marta', None, 'F', 2800.0],
    ['Carlos', 28, 'M', 3200.0],
    [None, 35, 'F', 5000.0]
]

## Nombrar las columnas

In [4]:
# Nombres de las columnas
column_names = ['Nombre', 'Edad', 'Genero', 'Salario']

## Creamos e imprimimos el DataFrame antes de la limpieza

In [ ]:
# Crear el DataFrame
df = pd.DataFrame(data, columns=column_names)

print("Datos originales:")
print(df)

## Hacemos la limpieza eliminando los datos nulos y duplicados

In [6]:
# Eliminar filas con valores nulos
df = df.dropna()

# Eliminar filas duplicadas
df = df.drop_duplicates()

## Convertimos la columnas de salario a entero

In [7]:
# Convertir la columna 'Salario' a tipo entero
df['Salario'] = df['Salario'].astype(int)

## Impresi√≥n del DataFrame con limpieza aplicada

In [ ]:
print("\nDatos limpios:")
print(df)